<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <div class="topnav">
          <a href="/">Home</a>
          <a href="/upload" class="active">Upload files</a>
     </div>
     <div class="upload-file-container">
          <form action="/upload-profile-pic" method="post" enctype="multipart/form-data">
               <div>
                    <label>Avatar</label>
                    <input type="file" name="profile_pic" id="">
               </div>
               <div>
                    <button class="btn-submit" type="submit" >Save files</button>
               </div>
          </form>

          <br/>
          <form action="/upload-multiple-images" method="post" enctype="multipart/form-data">
               <div>
                    <label>Avatar_Multiple</label>
                    <input type="file" name="multiple_images" multiple id="">
               </div>
               <div>
                    <button class="btn-submit" type="submit" >Save files</button>
               </div>
          </form>
     </div>
   
</body>
</html>
